
*{
    margin: 0;
    padding: 0;
}
body {
    font-size: 14px;
    background: #eee;
    font-family: Verdana;
}

.fl {float: left;}
.fr {float:right;}
.clear{clear:both;}

.center {
    width:900px;
    margin:0 auto;
}

.pad1{
    padding-left:10px;
}

.title{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px;
    margin: 0px;
    display: block;
    text-align: center;
    background: #0bae5d;
    color: #fff;
    padding: 5px;
}

.item{
    background: #fff;
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom:15px;
    border:1px solid #ddd;
}
.item > .fl:first-child{
    width:144px;
}
.item > .fl:first-child img{
    border-radius: 10px;
}
.item > .fl:nth-child(2){
    width: 590px;
}
.item > .fr{
    padding:48px 10px 0 0 ;
}

a{
    color:#fff;
    display: block;
    height: 24px;
    line-height: 24px;
    padding: 0 20px;
    background: #0bae5d;
    text-decoration: none;
}
.loader{
    text-align: center;
}